* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.Qr-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;    
}

.Qr-left {
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: oklch(92.2% 0 0);
    border-radius: 6px;
    box-shadow:0px 5px 5px oklch(24.919% 0.00766 17.476) ;
}

.top-header{
    display: flex;
    background-color: oklch(92.2% 0 0);
    gap: 15px;
}

.top-header h3{
    margin-left: 25px;
}

.top-header .svg{
    margin-left: 120px;
}
.Qr-text h1 {
    font-size: 29px;
    text-align: center;
    margin-top: 20px;
}

.Qr-text input {
    width: 300px;
    box-shadow: 0px 5px 5px oklch(24.919% 0.00766 17.476);
    border: none;
    background-color: oklch(92.2% 0 0);
    margin-left: 25px;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 4px;
    
}
.QR_image{
    display: flex;
    justify-content: center;
}

.QR_image img{
    height: 300px;
    border-radius: 6px;
    padding: -20px;    
}

 button {
    margin-left: 10px;
    width: 300px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 5px oklch(55.6% 0 0);
    margin-left: 25px;
    background-color: #FF8C5A;
    height: 30px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 4px;
}
