* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(245, 247, 250);
}

/* Main auth container */
.auth-container {
  width: 100%;
  max-width: 380px;
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.auth-form input::placeholder {
  color: rgb(150, 150, 150);
}

/* Top Login / Signup buttons */
.top-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 40px;
  gap: 10px;
  
}

.top-buttons button {
  height: 35px;
  width: 49%;
  margin: 0px;
  background: linear-gradient(135deg,
      rgb(33, 150, 243),
      rgb(0, 188, 212));
  border-radius: 3px;
  border: none;
  color: #ffffff;
}

.top-buttons button:hover {
  transform: translateY(-0.5px);
  box-shadow: 0 10px 25px rgba(33, 150, 243, 0.45);
}

.login-box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: -10px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-right: auto;
  font-size: 24px;
  font-weight: bold;
  color: rgb(45, 86, 160);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(45, 86, 160);
  margin-bottom: 10px;
}

.login-box input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 300px;
  margin-left: 0PX;
  height: 35px;
  font-size: 14px;
  color: rgb(55, 75, 110);
  outline: none;
}

.login-box input::placeholder {
  color: rgb(120, 145, 185);
}

.login-box button {
  padding: 10px;
  margin-left: 0px;
  margin-top: 8px;
  margin-bottom: 10px;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  height: 35px;
  width: 100%;
  color: #ffffff;
  background: linear-gradient(135deg,
      rgb(40, 120, 255),
      rgb(33, 150, 243));
  transition: all 0.3s ease;
  border: none;
}

.login-box button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(33, 150, 243, 0.45);
}

.radio-btn {
  display: flex;
  color: rgb(45, 86, 160);
}
.radio-btn input{
  color: rgb(45, 86, 160);
}
.radio-btn input {
  margin: 0px;
  padding: 0px;
  height: 10px;
  width: 20px;
}

.update-container {
  width: 100%;
  /* width: 400px; */
  max-width: 700px;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  display: flex;
  gap: 25px;
  margin: -30px;
}

.left-side-container {
  width: 45%;
  background: #f4f6f8;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
}

.left-container-image img {
  width: 150px;
  height: 150px;
  border-radius: 5%;
  object-fit: cover;
  /* border: 3px solid #007bff; */
  background-size: cover;
  margin-bottom: -20px;
  margin-top: -45px;
}

.container-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-buttons button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.update-btn {
  background: linear-gradient(135deg,
    rgb(40, 120, 255),
    rgb(33, 150, 243));
  color: #fff;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -40px; */
  margin-left: -10px;

}

.logout-btn {
  background: #dc3545;
  color: #fff;
  width: 100px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: -10px;
}

 .input_radio{
  display: flex;
 }
 .input_radio input{
  width: 10px !important;
  height: 15px !important;
  margin-left: 7px !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
 }
 .radio-input-btn p{
  margin-left: 7px;
  display: block;
  font-weight: bold;
  color: black !important;
 }

.right-side-container {
  width: 70%;
  margin-right: -100px;
  background: #f4f6f8;
  padding-left: 15px;
  margin-left: -8px;
  border-radius: 6px;
}

.right-side-container h1 {
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: 300;
}

.right-side-container p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}
.update-box{
  /* background-color: #dc3545; */
  margin-left: -15px;
}
.update-box h3{
  text-align:start;
  margin: 6px;
  padding-bottom: -10px;
  color: green;
  font-weight: bold;
}
.update-box hr{
  color: green;
  margin-bottom: 10px;
}
.update-box input{
  padding-left: 5px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 175px;
  margin-left: 6px;
  height: 25px;
  font-size: 14px;
  color: rgb(55, 75, 110);
  outline: none;
}
.update-box input::placeholder{
  color: rgb(120, 145, 185);
  /* color: green; */
}
.update-box button{
  height: 25px;
  border-radius: 6px;
  width: 92%;
  margin-bottom: 8px;
  margin-top: -7px;
  border: none;
  margin-left: 8px;
  font-weight: bold;
  background: linear-gradient(135deg,
    rgb(40, 120, 255),
    rgb(33, 150, 243));
  color: #fff;
}